body {
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
}

   /* header  */

#logo {
    width: 200px;
    margin-top: 2%;
  }

  .logobackground {
      background-image: url(../img/pattern.png);
      background-color: #4EA0FF;
      background-size: 20%, 50%;
  }

  h1 {
      text-align: left;
      margin-top: 10px;
      margin-bottom: 0;

  }

  #titoloblu {
      color: #20A9E5;
  }

    /* fine header   */


  

 /* main */

  .immaginitim {
      margin-top: 2%;
    }

    .piccolo {
        font-size: 12px;
    }
  
    .grigio {
        color: #808080;
    }
  
    .evidenziatore {
      background-color: yellow;
    }

 /* table */
      
        table {
            border-spacing: 0;
        }
      
        thead {
          background-color: #20A9E5;
          color: white;
          font-weight: bold;
        }
      
        td{
            width: 20%;
           }
       
        .col3{
            width: 60%;
        }
       
        .lineaazz {
           background-color: #B1E5F2;
         }
       
       
    /* sezione img finali */
       
       .scrittafinale {
           position: absolute;
           color: #eee;
       }
       .imgfinali {
           width: 20%;
       }
   
   /* fine main */
   
     
  








 









