body {
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    
    
     
    
}

    

#logo {
    width: 200px;
    margin-top: 2%;
  }

  .logobackground {
      background-image: url(../img/pattern.png);
      background-color: #4EA0FF;
      background-size: 20%, 50%;
  }

  h1 {
      text-align: left;
      margin-top: 10px;
      margin-bottom: 0;
      
  }

  #sottotitolo {
      margin: 0;
  }
      

  #titoloblu {
      color: #20A9E5;
  }

  .piccolo {
      font-size: 12px;
  }
     
     
  .grigio {
      color: #808080;
  }

  .immaginitim {
      margin-top: 2%;
      

  }
      
  .evidenziatore {
      background-color: yellow;
  }
  
  thead {
      background-color: #20A9E5;
      color: white;
      font-weight: bold;
      
  }

  .lineaazz {
      background-color: #B1E5F2;
      
  }

  .scrittafinale {
      position: absolute;
      color: #eee;
  }
  .imgfinali {
      width: 20%;
  }

 td{
     width: 30%;
    

 }

 #tim {
     width: 650px;
     height: 500px;
 }

 #tim2{
     width: 650px;
     height: 500px;
 }
     