#logo {
    width: 200px;
    margin-top: 2%;
  }

  div {
      background-image: url(../img/pattern.png);
      background-color: #4EA0FF;
      background-size: 20%, 50%;
  }
     
      
    

    
